{% extends 'todo/base.html' %}

{% block body %}
<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">About</h1>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            About
        </div>
        <div class="panel-body">


        <h5>
        This page was created for the TU/e course Web Technology.
        The idea of the page is to make the life of a TU/e student easier, by combing many
        functions that most students need in their daily lifes.</br>
        Functions like checking the weather to see what they need to wear, their finances,
        notes, facebook, twitter, etc.</br>
         By combing these thing in a basic easily readable page, students do not have to go to a 100 different sites to check everything
        but they can just open our page and check everything they need to.</br>

        You can operate the site by clicking on the tabs on the left thus selecting the function you need or clicking one of the icons in the bottom left
        which will take you to the page the icon represents (canvas, mytue and osiris respectively).</br>

        List of function:
        <ul>
          <li>
        Dashboard:
        Here you have an overview of all your tasks, notes and incomes and expenses.
</li><li>
        To do list:
        Here you can create a list of tasks you need to do and "finish" them if you have completed your task. You can add and delete tasks.
</li><li>
        Notes:
        Keep a set of notes which for small thing you need to remember. You can add and delete notes.
</li><li>
        Finances:
        Keep track of you money with this tab, you can add things you have spend which will be deleted from you account.
</li><li>
        Maps:
        An extension of Google Maps so you can find the route to you destination.
</li><li>
        Weather:
        An overview of the weather.
</li><li>
        Facebook:
        Keep up to date with TU/e's facebook page.
</li><li>
        Twitter:
        Keep up to date with TU/e's twitter page.
      </li>
        </ul>
        </h5>
      </div>
    </div>
  </div></div>
{% endblock %}
