{% extends 'todo/base.html' %}
{% block title %}Facebook{% endblock %}

{% block body %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div class="row">
      <div class="col-lg-12">
          <div class="fb-page" data-href="https://www.facebook.com/TU.Eindhoven/" data-tabs="timeline" data-width="500" data-height="630" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/TU.Eindhoven/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TU.Eindhoven/">TU Eindhoven</a></blockquote></div>
      </div>

  </div>
{% endblock %}
