{% load staticfiles %}
<html lang="en">
  <head>
    <title>Welcome!</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="https://instructure-uploads-eu.s3-eu-west-1.amazonaws.com/account_75420000000000001/attachments/4821/Favicon.png?AWSAccessKeyId=AKIAJE5F5SJN3PUW3VNQ&amp;Expires=1941679979&amp;Signature=qDUEQ5cZ9RPG34sWS3ljc0wNaCU%3D&amp;response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&amp;response-expires=473364000.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/startpage.css' %}"> <!-- My own CSS file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    <!-- Jquery libraby -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- Bootstrap Javascript libraby -->
  </head>

  <body class="body">
    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-offset-1 col-sm-8 col-md-offset-4 col-md-4">
              <div class="form-login">
              <h4>Welcome to this organizer!</h4>
              <h7><center>Please sign up, or login!</center></h7>
              <div class="wrapper">
              <span class="group-btn" id="loginButton">
                </br>
                <a href="todo/signup.html" class="btn btn-primary btn-md">Sign up <i class="fa fa-sign-in"></i></a>
                &emsp;
                <a href="/registration/login.html" class="btn btn-primary btn-md">Login <i class="fa fa-sign-in"></i></a>
              </span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
